doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/users.css")
    title Create a new user
  body
    h1 Create a new user

    if message
      p.alert= message

    form(action="/users" method="post")
      label(for="username") username:
      input(id="username" name="username" type="text")

      label(for="email") email:
      input(id="email" name="email" type="text")

      label(for="password") password:
      input(id="password" name="password" type="password")

      label(for="repeat-password") password:
      input(id="repeat-password" name="repeat-password" type="password")

      input(value="create" type="submit")

